<section id="about-me">
  <div class="about-me-wrapper">
    <div class="description">
      <h2><%= t('aboutme.aboutme') %></h2>
      <p><%= t('aboutme.description') %></p>
    </div>
    <%= image_tag "profile.jpg", class: "profile" %>
    <%= image_tag "tyler.png", class: "tyler" %>
  </div>
</section>
