<section class="space-background flex">
  <div class="flex flex-column">
    <h1 class="light-font">Sandra Yukna</h1>
    <h2  class="light-font">Full-stack developer</h2>
    <%= image_tag "earth.png", class: "earth" %>
    <h3  class="light-font">Citizen of the world</h3>
  </div>
</section>
<section class="empty-section window"></section>
