<section class="space-background flex">
  <div class="flex flex-column">
    <h1 class="light-font">Sandra Yukna</h1>
    <h2  class="light-font"><%= t('landingspace.jobtitle') %></h2>
    <%= image_tag "earth.png", class: "earth" %>
    <h3  class="light-font"><%= t('landingspace.tagline') %></h3>
  </div>
  <%= render "footer" %>
</section>
<section class="empty-section window" id="landing-space"></section>
