<nav>
  <div class="flex" style="gap: 10px">
    <div class="button-light">
      <a href="#about-me"><button href="#about-me"><h6 class="light-font">about me</h6></button></a>
    </div>
    <div class="button-light">
      <a href="#about-me"><button><h6 class="light-font">skills and expertise</h6></button></a>
    </div>
    <div class="button-light">
      <a href="#past-experience"><button><h6 class="light-font">previous work experience</h6></button></a>
    </div>
  </div>
</nav>
