
<section id="projects">
  <div>
    <div class="my-projects">
      <h2>my projects</h2>
    </div>
    <div class="projects">
      <%= link_to image_tag("artvard.png", class:"project"), "https://www.artvard.me/", target:"_blank" %>
      <%= link_to image_tag("galaxy-getaways.png", class:"project"), "https://github.com/SandyBlueBee/galaxy_getaways/", target:"_blank" %>
      <div class="project flex" style="background-color: var(--light-color)">
        <p>and more to come...</p>
      </div>
    </div>
  </div>
</section>
