<section class="space-background">
  <div class="flex-column">
    <h1>Sandra Yukna</h1>
    <h2>Full-stack developer</h2>
    <%= image_tag "earth.png", class: "earth" %>
  </div>
</section>
<section class="empty-section"></section>
<section>
  <h2>fghbnvn gnb fgn</h2>
</section>
