<section class="space-background flex">
  <div class="flex flex-column">
    <h1>Sandra Yukna</h1>
    <h2>Full-stack developer</h2>
    <%= image_tag "earth.png", class: "earth" %>
    <h3>Citizen of the world</h3>
  </div>
</section>
<section class="empty-section"></section>
<div style="position:relative">
  <nav >
    <div class="flex" style="gap: 10px">
      <div class="button-light">
        <button><h6>about me</h6></button>
      </div>
      <div class="button-light">
        <button><h6>skills and expertise</h6></button>
      </div>
      <div class="button-light">
        <button><h6>previous work experience</h6></button>
      </div>
    </div>
  </nav>
  <section>
  </section>
  <section></section>
</div>
