h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family) !important;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  /* color: #131313; */
  color: var(--primary-color);
}

.light-font {
  color: var(--very-light-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-family: var(--p-font-family);
  color: var(--p-color);
}
