@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Mono+One&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6, p {
  color: #F5EEE6;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}
