* {
  margin: 0;
  padding: 0;
}

section {
  background-color: var(--very-light-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-orientation-switch {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

@media screen and (orientation: portrait) {
  .flex-orientation-switch {
    flex-direction: column;
    align-items: center;
  }
}
