.map-content {
  width: 40vw;
  height: 40vh;
  min-height: 350px;
}

.city-name {
  /* shape and size */
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px 10px 0px 0px;
  /* colors */
  background: var(--primary-color);
  color: var(--very-light-color);
  text-shadow: 1px 1px 5px var(--dark-color);
  box-shadow: inset 1px 1px 5px var(--dark-primary-color);
}

.country-experience-list {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
}


.work-experience {
  box-sizing: border-box;
  box-shadow: inset 5px 5px 10px var(--light-color);
  padding: 20px;
  border-radius: 10px;
  background: var(--medium-light-color);
}

.work-experience p {
  width: 100%;
}

.country-content {
  width: 100%;
  display: none;
}

.blank-map {
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

@media screen and (orientation: portrait) {
  .map-content {
    height: 40vh;
    width: 80vw;
  }
  .country-experience-list {
    height: 100%;
  }
}
