/* Landing space */
.earth {
  height: 30vh;
  margin: 5%;
}

.space-background {
  background-image: url('stars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.window {
  background: linear-gradient(0deg, rgba(255,255,255,0.1) 0%, rgba(187,227,242,0) 21%, rgba(152,212,234,0) 86%, rgba(252,252,252,0.1) 100%);
}

.empty-section {
  background: none;
}

/* about me */
.profile {
  height: 40vh;
  width: 30%;
  object-fit: cover;
  border: 20px solid white;
  border-bottom: 50px solid white;
  position: absolute;
  top: 0px;
  right: 0px;
}

.tyler {
  position: absolute;
  top: 40px;
  right: 280px;
  height: 150px;
  transform: rotate(340deg);
  filter: contrast(134%) saturate(85%);
}
