.earth {
  height: 30vh;
  margin: 5%;
}

.window {
  background: linear-gradient(0deg, rgba(255,255,255,0.1) 0%, rgba(187,227,242,0) 21%, rgba(152,212,234,0) 86%, rgba(252,252,252,0.1) 100%);
}

.profile {
  height: 40vh;
  width: 30%;
  object-fit: cover;
  border-radius: 10px;
  border: 20px solid #131313;
  position: absolute;
  top: 0px;
  right: 0px;
}

.tyler {
  position: absolute;
  bottom: -80px;
  right: 100px;
  height: 150px;
  transform: rotate(340deg);
  filter: contrast(134%) saturate(85%);
}

.map {
  background-image: url("world-map.png");
  height: 400px;
  width: 650px !important;
  border: 20px solid #131313;
  border-radius: 10px 0px 0px 10px;
  background-size: 100% 100%;
  position: relative;
}

.pin {
  height: 20px;
  position: absolute;
  transition: all 0.3;
  transform-origin: center;
}

.pin-usa {
  top: 137px;
  left: 26.5%;
}

.pin-france {
  top: 127px;
  left: 49%;
}

.pin-germany {
  top: 107px;
  left: 51%;
}

.pin-russia {
  top: 85px;
  left: 57%;
}

.pin-greece {
  top: 145px;
  left: 54%;
}

.pin-usa:hover + .usa-content {
  .usa-content {
    display: block;
  }
}
