:root {
  /* colors */
  --primary-color:#B59D92;
  --dark-primary-color: #A48779;
  --secondary-color: #619B8A;
  --light-color: #D0D2D5;
  --medium-light-color: #DEE0E3;
  --very-light-color: #ECEEF0;
  --dark-color: #434749;
  --very-dark-color: #383C3F;

  /* fonts */
  --p-font-family: 'Montserrat Alternates', sans-serif;
  --heading-font-family: 'Rubik Mono One', sans-serif;
}
