footer {
  /* shape and color */
  height: 100px;
  width: 100%;
  background-color: var(--light-color);
  /* position self */
  position: absolute;
  bottom: 0px;
  left: 0px;
  box-sizing: border-box;
  /* position children */
  display: flex;
  justify-content: space-between;
  padding: 0% 30px;
  align-items: center;
}
